<div class="page-head"><h2><%= __('SDK Download')%></h2>
    <ol class="breadcrumb">
        <li><a href="javascript:" ng-click="locate('')"><%= __('Home.Page')%></a></li>
        <li><a href="javascript:" ng-click="go('application')"><%= __('Applications')%></a></li>
        <li><a href="javascript:" ng-click="go('docs')"><%= __('Assistant')%></a></li>
        <li class="active"><%= __('SDK Download')%></li>
    </ol>
</div>

<div class="container-fluid page-body clearfix"> <!--mason-card options="options" list="list"-->
    <div class="row">
        <div style="float: right;" >
            <button type="button" class="btn btn-warning btn-sm mr-10" ng-click="apiRefresh()"><%= __('Refresh')%></button>
        </div>
        <div class="col-xs-12">
            <form class="form-inline ">
                <div style="width: 48%;float: left;margin: 1em 0;margin-left: 10px;border: 1px dotted #ccc;">
                    <h3 style="color: #FFF;padding: 5px 0px 5px 0px;display: inline-block;width: 100%;text-align: center;font-size: 24px;background: #3eb991;"><%= __('Official SDK')%></h3>
                    <div style="padding: 1.5em 0 0em 2em;">
                        <h4><%= __('Java Build')%><span></span></h4>
                        <h6></h6>
                        <div class="cmpny1">
                            <table border="0" cellspacing="10" cellpadding="10" width="100%">
                                <tr style="height:30px;">
                                    <td style="width:80px;"><%= __('File Name')%>:</td>
                                    <td style="width:150px;"><a href="javascript:void(0);">rop-sdk-java.rar</a></td>
                                    <td rowspan="3" valign="top"><a class="btn btn-warning btn-sm mr-10" href="{{docList.java.path}}"><%= __('Download')%></a></td>
                                </tr>
                                <tr style="height:30px;">
                                    <td><%= __('File Size')%>:</td>
                                    <td>{{docList.java.size}}</td>
                                </tr>
                                <tr style="height:30px;">
                                    <td><%= __('Create Time')%>:</td>
                                    <td>{{docList.java.time}}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div style="padding: 1.5em 0 0em 2em;border-top: 3px dashed #999;">
                        <h4><%= __('.NET Build')%><span></span></h4>
                        <h6></h6>
                        <div>
                            <table border="0" cellspacing="10" cellpadding="10" width="100%">
                                <tr style="height:30px;">
                                    <td style="width:80px;"><%= __('File Name')%>:</td>
                                    <td style="width:150px;"><a href="javascript:void(0);">rop-sdk-net.rar</a></td>
                                    <td rowspan="3" valign="top"><a class="btn btn-warning btn-sm mr-10" href="{{docList.net.path}}"><%= __('Download')%></a></td>
                                </tr>
                                <tr style="height:30px;">
                                    <td><%= __('File Size')%>:</td>
                                    <td>{{docList.net.size}}</td>
                                </tr>
                                <tr style="height:30px;">
                                    <td><%= __('Create Time')%>:</td>
                                    <td>{{docList.net.time}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                    <div style="padding: 1.5em 0 0em 2em;border-top: 3px dashed #999;">
                        <h4><%= __('PHP Build')%><span></span></h4>
                        <h6></h6>
                        <div>
                            <table border="0" cellspacing="10" cellpadding="10" width="100%">
                                <tr style="height:30px;">
                                    <td style="width:80px;"><%= __('File Name')%>:</td>
                                    <td style="width:150px;"><a href="javascript:void(0);">rop-sdk-php.rar</a></td>
                                    <td rowspan="3" valign="top"><a class="btn btn-warning btn-sm mr-10" href="{{docList.php.path}}"><%= __('Download')%></a></td>
                                </tr>
                                <tr style="height:30px;">
                                    <td><%= __('File Size')%>:</td>
                                    <td>{{docList.php.size}}</td>
                                </tr>
                                <tr style="height:30px;">
                                    <td><%= __('Create Time')%>:</td>
                                    <td>{{docList.php.time}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
                <div style="width: 48%;float: left;margin: 1em 0;margin-left: 10px;border: 1px dotted #ccc;">
                    <h3 style="color: #FFF;padding: 5px 0px 5px 0px;display: inline-block;width: 100%;text-align: center;font-size: 24px;background: #e9a820;">Android&amp;JS SDK</h3>
                    <div style="padding: 1.5em 0 0em 2em;">
                        <h4><%= __('Android Build')%><span></span></h4>
                        <h6></h6>
                        <div class="cmpny1">
                            <table border="0" cellspacing="10" cellpadding="10" width="100%">
                                <tr style="height:30px;">
                                    <td style="width:80px;"><%= __('File Name')%>:</td>
                                    <td style="width:150px;"><a href="javascript:void(0);">rop-sdk-android.rar</a></td>
                                    <td rowspan="3" valign="top"><a class="btn btn-warning btn-sm mr-10" href="{{docList.android.path}}"><%= __('Download')%></a></td>
                                </tr>
                                <tr style="height:30px;">
                                    <td><%= __('File Size')%>:</td>
                                    <td>{{docList.android.size}}</td>
                                </tr>
                                <tr style="height:30px;">
                                    <td><%= __('Create Time')%>:</td>
                                    <td>{{docList.android.time}}</td>
                                </tr>
                            </table>

                        </div>
                    </div>
                    <div style="padding: 1.5em 0 0em 2em;border-top: 3px dashed #999;">
                        <h4><%= __('JS Build')%><span></span></h4>
                        <h6></h6>
                        <div>
                            <table border="0" cellspacing="10" cellpadding="10" width="100%">
                                <tr style="height:30px;">
                                    <td style="width:80px;"><%= __('File Name')%>:</td>
                                    <td style="width:150px;"><a href="javascript:void(0);">rop-sdk-js.rar</a></td>
                                    <td rowspan="3" valign="top"><a class="btn btn-warning btn-sm mr-10" href="{{docList.js.path}}"><%= __('Download')%></a></td>
                                </tr>
                                <tr style="height:30px;">
                                    <td><%= __('File Size')%>:</td>
                                    <td>{{docList.js.size}}</td>
                                </tr>
                                <tr style="height:30px;">
                                    <td><%= __('Create Time')%>:</td>
                                    <td>{{docList.js.time}}</td>
                                </tr>
                            </table>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <nav class="rop-paging text-center" rop-pagination searcher="apiSearcher" style="display: none;" ></nav>
    </div>
</div>