<div class="banner md-whiteframe-3dp">
    <div layout="row" layout-align="center" layout-fill>
        <div layout="column" layout-align="center" class="text-center">
            <h2 class="md-headline"><%= __('Welcome.features.title') %></h2>

            <p class="md-subhead"><%= __('Welcome.features.subtitle') %></p>
        </div>
    </div>
</div>

<div class="textRow md-whiteframe-3dp" id="wwo_1">
    <div layout="row" class="card-container" layout-fill>
        <div class="image-container" flex layout="row">
            <img src="/resource/welcome/gtt@2x.png"/>
        </div>

        <div layout="column" flex class="text-container right">
            <h5 class="md-headline"><%= __('Welcome.features.ad1.idea') %></h5>

            <ul class="md-subhead">
                <li>
                    <span class=""><%= __('Welcome.features.ad1.message1') %></span></li>

                <li>
                    <span class=""><%= __('Welcome.features.ad1.message2') %></span></li>

                <li>
                    <span class=""><%= __('Welcome.features.ad1.message3') %></span></li>

                <li>
                    <span class=""><%= __('Welcome.features.ad1.message4') %></span></li>
            </ul>

            <blockquote class="">
                <p class=""><%= __('Welcome.features.ad1.quota') %></p>
                <footer><cite title="Source Title"><%= __('Welcome.features.ad1.quotee') %></cite></footer>
            </blockquote>
        </div>
    </div>
</div>
<div class="textRow even" id="wwo_2">
    <div layout="row" class="card-container" layout-fill>
        <div layout="column" flex class="text-container">
            <h5 class="md-headline"><%= __('Welcome.features.ad2.idea') %></h5>

            <ul class="md-subhead">
                <li>
                    <span class=""><%= __('Welcome.features.ad2.message1') %></span></li>

                <li>
                    <span class=""><%= __('Welcome.features.ad2.message2') %></span></li>
            </ul>

            <blockquote class="">
                <p class=""><%= __('Welcome.features.ad2.quota') %></p>
                <footer><cite title="Source Title"><%= __('Welcome.features.ad2.quotee') %></cite></footer>
            </blockquote>
        </div>
        <div class="image-container" flex layout="row" layout-align="end">
            <img src="/resource/welcome/llkz@2x.png"/>
        </div>
    </div>
</div>
<div class="textRow" id="wwo_3">
    <div layout="row" class="card-container" layout-fill>
        <div class="image-container" flex layout="row">
            <img src="/resource/welcome/yj@2x.png"/>
        </div>

        <div layout="column" flex class="text-container right">
            <h5 class="md-headline"><%= __('Welcome.features.ad3.idea') %></h5>

            <ul class="md-subhead">
                <li>
                    <span class=""><%= __('Welcome.features.ad3.message1') %></span></li>

                <li>
                    <span class=""><%= __('Welcome.features.ad3.message2') %></span></li>

                <li>
                    <span class=""><%= __('Welcome.features.ad3.message3') %></span></li>
            </ul>

            <blockquote class="">
                <p class=""><%= __('Welcome.features.ad3.quota') %></p>
                <footer><cite title="Source Title"><%= __('Welcome.features.ad3.quotee') %></cite></footer>
            </blockquote>
        </div>
    </div>
</div>
<div class="textRow even" id="wwo_4">
    <div layout="row" class="card-container" layout-fill>
        <div layout="column" flex class="text-container">
            <h5 class="md-headline"><%= __('Welcome.features.ad4.idea') %></h5>

            <ul class="md-subhead">
                <li>
                    <span class=""><%= __('Welcome.features.ad4.message1') %></span></li>

                <li>
                    <span class=""><%= __('Welcome.features.ad4.message2') %></span></li>
            </ul>

            <blockquote class="">
                <p class=""><%= __('Welcome.features.ad4.quota') %></p>
                <footer><cite title="Source Title"><%= __('Welcome.features.ad4.quotee') %></cite></footer>
            </blockquote>
        </div>
        <div class="image-container" flex layout="row" layout-align="end">
            <img src="/resource/welcome/bbsj@2x.png"/>
        </div>
    </div>
</div>
<% include ./footer.ejs %>

<script>
    var type = 'anonymous';
    try{
        type = JSON.parse(getCookie("_session")).login_user_type
    } catch(e){

    }
    bassdk.quick('setDefaultAttr');
    bassdk.track('visit',{
        pageName:'特色页',
        userType:type,
        pageType:"前端页面"
    });
</script>