<div class="transitionEndBubbleStop md-whiteframe-3dp">
    <div class="swiper-container">
        <div class="swiper-wrapper">
            <div class="swiper-slide  ">
                <div data-background="http://ruixuesoftpicture.oss-cn-beijing.aliyuncs.com/398a1726ce714ad4b56dd5c80751aff1/f27eae35-cb3c-4e6f-b7f7-eca0f44a2d56.jpg"
                     class="swiper-lazy bg first" layout="column" >
                    <div layout="row" layout-fill layout-align="center" class="inner">
                        <div layout="column" layout-align="center">
                            <h2 class="md-display-2 title"><%= __('Welcome.index.swiper.slide1.title')%></h2>
                            <p class="md-subhead text"><%= __('Welcome.index.swiper.slide1.subtitle')%></p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div data-background="http://ruixuesoftpicture.oss-cn-beijing.aliyuncs.com/398a1726ce714ad4b56dd5c80751aff1/2b0575a3-b1c7-4a75-9d5f-3eac884dddd7.jpg"
                     class="swiper-lazy bg second" layout="column">
                    <div layout="row" layout-fill layout-align="center" class="inner">
                        <div layout="column" layout-align="center">
                            <h2 class="md-headline title"><%= __('Welcome.index.swiper.slide2.title')%></h2>

                            <p class="md-subhead text first"><%= __('Welcome.index.swiper.slide2.subtitle1')%></p>

                            <p class="md-subhead text second"><%= __('Welcome.index.swiper.slide2.subtitle2')%></p>

                            <p class="md-subhead text third"><%= __('Welcome.index.swiper.slide2.subtitle3')%></p>

                            <p class="md-subhead text fourth"><%= __('Welcome.index.swiper.slide2.subtitle4')%></p>

                            <div class="fifth text">
                                <md-button class="md-raised md-primary md-radius-button-2" aria-label="data control" ng-click="(tab != 'features') && go('features')">
                                    <%= __('Welcome.index.swiper.slide2.more')%>
                                </md-button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="swiper-slide  ">
                <div data-background="/resource/welcome/banner25.png"
                     class="swiper-lazy bg third" layout="column" >
                    <div layout="row" layout-fill layout-align="start" class="inner">
                        <div layout="column" layout-align="center">
                            <h2 class="md-headline title"><%= __('Welcome.index.swiper.slide3.title')%></h2>

                            <p class="md-subhead text first"><%= __('Welcome.index.swiper.slide3.subtitle1')%></p>

                            <p class="md-subhead text second"><%= __('Welcome.index.swiper.slide3.subtitle2')%></p>

                            <p class="md-subhead text third"><%= __('Welcome.index.swiper.slide3.subtitle3')%></p>
                        </div>
                        <div flex="" class="right">
                            <img src="http://ruixuesoftpicture.oss-cn-beijing.aliyuncs.com/398a1726ce714ad4b56dd5c80751aff1/ahh.jpg" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="swiper-slide">
                <div data-background="http://ruixuesoftpicture.oss-cn-beijing.aliyuncs.com/398a1726ce714ad4b56dd5c80751aff1/c4af4233-d776-42d9-a1c6-e38729f79ce0.jpg"
                     class="swiper-lazy bg fourth" layout="column">
                    <div layout="row" layout-fill layout-align="start" class="inner">
                        <div layout="column" layout-align="center">
                            <h2 class="md-headline title"><%= __('Welcome.index.swiper.slide4.title')%></h2>

                            <p class="md-subhead text first"><%= __('Welcome.index.swiper.slide4.subtitle1')%></p>

                            <p class="md-subhead text second"><%= __('Welcome.index.swiper.slide4.subtitle2')%></p>
                        </div>
                        <div flex="" class="right">
                            <img src="http://ruixuesoftpicture.oss-cn-beijing.aliyuncs.com/398a1726ce714ad4b56dd5c80751aff1/ah.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>
</div>
<div class="featureRow ">
    <div layout="column" flex-offset-gt-lg="10" flex-gt-lg="80" flex-offset-lg="5" flex-lg="90" flex-offset="0"
         flex="100">
        <h2 class="md-headline title"><%= __('Welcome.index.whatwedo')%></h2>

        <div layout="row" layout-margin>
            <div flex = 5></div>
            <md-card flex="25">
                <img class="md-card-image" src="/resource/welcome/jdgx@2x.png" />
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead"><%= __('Welcome.index.whatwedo.item1.title')%></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p class="md-body-1">
                        <%= __('Welcome.index.whatwedo.item1.description')%>
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">

                </md-card-actions>
            </md-card>
            <div flex></div>
            <md-card flex="25">
                <!--<md-icon class="md-card-image" md-svg-icon="hardware:ic_memory_24px"></md-icon>-->
                <img class="md-card-image" src="/resource/welcome/gttgbf@2x.png" />
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead"><%= __('Welcome.index.whatwedo.item2.title')%></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p class="md-body-1">
                        <%= __('Welcome.index.whatwedo.item2.description')%>
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">

                </md-card-actions>
            </md-card>
            <div flex></div>
            <md-card flex="25">
                <!--<md-icon class="md-card-image" md-svg-icon="hardware:ic_security_24px"></md-icon>-->
                <img class="md-card-image" src="/resource/welcome/dcsjbh@2x.png" />
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead"><%= __('Welcome.index.whatwedo.item3.title')%></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <p class="md-body-1">
                        <%= __('Welcome.index.whatwedo.item3.description')%>
                    </p>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">

                </md-card-actions>
            </md-card>
            <div flex="5"></div>
        </div>
    </div>
</div>

<div class="featureRow plus md-whiteframe-3dp">
    <div layout="column" flex-offset-gt-lg="10" flex-gt-lg="80" flex-offset-lg="5" flex-lg="90" flex-offset="0"
         flex="100">
        <h3 class="md-headline title"><%= __('Welcome.index.slogan')%></h3>

        <div layout="row" layout-margin>
            <div flex="15"></div>
            <md-card flex="25">
                <!--<md-icon class="md-card-image" md-svg-icon="/resource/welcome/wlnl@2x.png"></md-icon>-->
                <div layout="row" layout-align="center">
                    <div class="img-wrapper">
                        <img src="/resource/welcome/wlnl@2x.png" />
                    </div>
                </div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead"><%= __('Welcome.index.slogan.item1.title')%></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <ul>
                        <li><%= __('Welcome.index.slogan.item1.listing1')%></li>
                        <li><%= __('Welcome.index.slogan.item1.listing2')%></li>
                        <li><%= __('Welcome.index.slogan.item1.listing3')%></li>
                        <li><%= __('Welcome.index.slogan.item1.listing4')%></li>
                        <li><%= __('Welcome.index.slogan.item1.listing5')%></li>
                        <li><%= __('Welcome.index.slogan.item1.listing6')%></li>
                        <li><%= __('Welcome.index.slogan.item1.listing7')%></li>
                    </ul>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">

                </md-card-actions>
            </md-card>
            <div flex></div>
            <md-card flex="25">
                <!--<md-icon class="md-card-image" md-svg-icon="hardware:ic_memory_24px"></md-icon>-->
                <div layout="row" layout-align="center">
                    <div class="img-wrapper">
                        <img src="/resource/welcome/dsjfx@2x.png" />
                    </div>
                </div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead"><%= __('Welcome.index.slogan.item2.title')%></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <ul>
                        <li><%= __('Welcome.index.slogan.item2.listing1')%></li>
                        <li><%= __('Welcome.index.slogan.item2.listing2')%></li>
                        <li><%= __('Welcome.index.slogan.item2.listing3')%></li>
                    </ul>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">

                </md-card-actions>
            </md-card>
            <div flex></div>
            <md-card flex="25">
                <!--<md-icon class="md-card-image" md-svg-icon="hardware:ic_security_24px"></md-icon>-->
                <div layout="row" layout-align="center">
                    <div class="img-wrapper">
                        <img src="/resource/welcome/sjcc@2x.png" />
                    </div>
                </div>
                <md-card-title>
                    <md-card-title-text>
                        <span class="md-subhead"><%= __('Welcome.index.slogan.item3.title')%></span>
                    </md-card-title-text>
                </md-card-title>
                <md-card-content>
                    <ul>
                        <li><%= __('Welcome.index.slogan.item3.listing1')%></li>
                        <li><%= __('Welcome.index.slogan.item3.listing2')%></li>
                        <li><%= __('Welcome.index.slogan.item3.listing3')%></li>
                        <li><%= __('Welcome.index.slogan.item3.listing4')%></li>
                    </ul>
                </md-card-content>
                <md-card-actions layout="row" layout-align="end center">

                </md-card-actions>
            </md-card>
            <div flex="15"></div>
        </div>
    </div>
</div>
<div class="triangleRow md-whiteframe-3dp" layout="row" layout-align="center">
    <div layout="column" layout-align="center">
        <h2 class="md-headline"><%= __('Welcome.index.resourceful.title')%></h2>

        <p class="md-subhead"><%= __('Welcome.index.resourceful.subtitle1')%></p>

        <p class="md-subhead last"><%= __('Welcome.index.resourceful.subtitle2')%></p>

        <div class="button-row">
            <md-button flex class="flat md-primary md-radius-button-2" aria-label="data control" ng-click="go('suppliers')">
                <%= __('Welcome.index.resourceful.supplier')%>
            </md-button>
        </div>
        <div layout="row" layout-align="center">
            <md-button flex class="md-raised md-accent md-hue-1 md-linear-button-1 " aria-label="data control"
                       ng-href="{{'/welcome/sdkTool'}}" target="_blank">
                <%= __('Welcome.sdk')%>
            </md-button>
            <md-button flex class="md-raised md-accent md-hue-1 md-linear-button-1 " aria-label="data control"
                       ng-href="{{'/welcome/debugTool'}}" target="_blank">
                <%= __('Welcome.debugtool')%>
            </md-button>
        </div>
    </div>
</div>

<div class="logoRow md-whiteframe-3dp">
    <h2 class="md-headline"><%= __('Welcome.index.partners.title')%></h2>

    <p class="md-subhead"><%= __('Welcome.index.partners.subtitles')%></p>

    <img src="/resource/welcome/cowork.jpg"/>
</div>

<div class="joinusRow">
    <div layout="row" layout-align="center" layout-fill >
        <div layout="column" layout-align="center">
            <h1 class="md-headline title"><%= __('Welcome.index.joinus.title')%></h1>
            <div layout="row" layout-align="center">
                <md-button class="md-raised md-primary md-radius-button-2" aria-label="data control" ng-click="locate('sso/register')">
                    <%= __('Welcome.index.joinus.subtitles')%>
                </md-button>
            </div>
        </div>
    </div>
</div>

<div class="abvfooterRow">
    <div layout="row" layout-align="center" layout-fill >
        <div layout="row">
            <div class="md-padding ">
                <h5 class="md-subhead"><strong><%= __('Welcome.index.abovefooter.aboutus')%></strong></h5>
                <ul >
                    <li><a href="http://www.rongcapital.cn/jobs.html" target="_blank"><%= __('Welcome.index.abovefooter.recruit')%></a></li>
                    <li><a href="http://www.rongcapital.cn/contact.html" target="_blank"><%= __('Welcome.index.abovefooter.contactus')%></a></li>
                </ul>
            </div>
            <div class="md-padding ">
                <h5 class="md-subhead"><strong><%= __('Welcome.index.abovefooter.partnersite')%></strong></h5>
                <ul>
                    <li><a href="http://www.rongcapital.cn" target="_blank"><%= __('Welcome.index.abovefooter.rongcapital')%></a></li>
                    <li><a href="http://www.junrongdai.com" target="_blank"><%= __('Welcome.index.abovefooter.junrongdai')%></a></li>
                    <li><a href="http://www.eventown.com.cn" target="_blank"><%= __('Welcome.index.abovefooter.eventown')%></a></li>
                </ul>
            </div>
            <div class="md-padding" flex>
                <h5 class="md-subhead"><strong><%= __('Welcome.index.abovefooter.contactus')%></strong></h5>
                <ul>
                    <li><a href="javascript:"><%= __('Welcome.index.abovefooter.businesscooperation')%></a></li>
                    <li><a href="javascript:"><%= __('Welcome.index.abovefooter.customerservice')%></a></li>
                </ul>
            </div>
        </div>
        <div class="md-padding barcode">
            <img src="/resource/barcode.jpg"/>
        </div>
        <div layout="row" flex layout-align="end">
            <md-button class=" navigator-logo" aria-label="Settings" ng-click="go('index')">
                <md-icon md-svg-icon="/resource/logo_2.svg"></md-icon>
            </md-button>
        </div>
    </div>
</div>
<% include ../partials/footer.ejs %>

<script>
    var type = 'anonymous';
    try{
        type = JSON.parse(getCookie("_session")).login_user_type
    } catch(e){

    }
    bassdk.quick('setDefaultAttr');
    bassdk.track('visit',{
        pageName:'主页',
        userType:type,
        pageType:"前端页面"
    });
</script>