<div layout="column" layout-fill layout-align="center" class="">
    <div layout="row" layout-align="center">
        <div class="md-whiteframe-6dp findpassword-panel"  id="findpasswordPanel">
            <md-toolbar class="md-primary" layout="column" layout-align="center" md-theme="dracular">
                <div class="md-toolbar-tools " >
                    <div flex>
                        <img src="/resource/logo_2.svg" ng-click="toPlatform()"/>
                    </div>

                    <div>
                        <h1 class="md-title">
                            <span><%= __('SSO.findpassword.title')%></span>
                        </h1>
                    </div>
                </div>
            </md-toolbar>
            <div class="description">
                <span class="md-body-1"><%= __('SSO.findpassword.description')%></span>
            </div>

            <div class="description md-collapsing" ng-show="reset_msg">
                <span class="md-body-1" >{{reset_msg}}</span>
                <md-button class="md-icon-button md-primary md-hue-1" ng-if="param._success" aria-label="data control" ng-click="go('index')">
                    <md-icon md-svg-icon="navigation:ic_check_24px"></md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary md-hue-1" aria-label="data control" ng-click="clearMsg()">
                    <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
                </md-button>
            </div>

            <md-content class="md-no-momentum ">
                <form autocomplete="off" name="findForm" novalidate>
                    <md-input-container class="md-block" >
                        <input ng-model="param.email" name="email" type="email" placeholder="<%= __('SSO.findpassword.email')%>" ng-required="true" autocomplete="off">
                        <div ng-messages="findForm.email.$error" class="fadding">
                            <div ng-message="required"><%= __('SSO.findpassword.email.required')%></div>
                            <div ng-message="email"><%= __('SSO.findpassword.email.pattern')%></div>
                        </div>
                    </md-input-container>

                    <div layout="row" class=" captcha">
                        <md-input-container class="md-block" flex>
                            <!--<md-icon md-svg-icon="action:ic_code_24px"></md-icon>-->
                            <input type="text" placeholder="<%= __('SSO.findpassword.captcha')%>" ng-required="true"
                                   ng-model="captcha" name="captcha" autocomplete="off"
                                   captcha-validator="getCaptcha()"><!--captcha="getCaptcha()"-->
                            <div ng-messages="findForm.captcha.$error"
                                 class="fadding">
                                <div ng-message="required"><%= __('SSO.findpassword.captcha.required')%></div>
                                <div ng-message="validCaptcha"><%= __('SSO.findpassword.captcha.invalid')%></div>
                            </div>
                        </md-input-container>
                        <div layout="column" layout-align="30">
                            <img ng-src="{{captcha_img}}" HEIGHT="50" ng-click="resetCaptcha()"/>
                        </div>
                    </div>

                    <div layout="column">
                        <div layout="row"  layout-align="center" layout-padding  class="button-row" >
                            <md-button class="md-raised md-primary md-radius-button-2" aria-label="data control" ng-click="resetmail($event)" type="submit"><%= __('SSO.findpassword.confirm')%></md-button>
                        </div>
                        <div layout="row" layout-align="center" class="link-row" layout-padding>
                            <span class="rule"><a href="javascript:" class="pl-5 md-primary" ng-click="go('index')"><%= __('SSO.findpassword.return')%></a></span>
                            <span class="pl-30 pr-30">|</span>
                            <span class="rule"><a href="javascript:" class="pl-5 md-primary" ng-click="go('register')"><%= __('SSO.findpassword.notregister')%></a></span>
                        </div>
                    </div>
                </form>
            </md-content>
        </div>
    </div>
</div>

<script>
    var type = 'anonymous';
    try{
        type = JSON.parse(getCookie("_session")).login_user_type
    } catch(e){

    }
    bassdk.quick('setDefaultAttr');
    bassdk.track('visit',{
        pageName:'找回密码页',
        userType:type,
        pageType:"前端页面"
    });
</script>