<div layout="column" layout-fill layout-align="center" class="">
    <div layout="row" layout-align="center">
        <div class="md-whiteframe-6dp reset-panel"  id="resetPanel">
            <md-toolbar class="md-primary" layout="column" layout-align="center" md-theme="dracular">
                <div class="md-toolbar-tools " >
                    <div flex>
                        <img src="/resource/logo_2.svg" ng-click="toPlatform()"/>
                    </div>

                    <div>
                        <h1 class="md-title">
                            <span><%= __('SSO.resetpassword.title')%></span>
                        </h1>
                    </div>
                </div>
            </md-toolbar>
            <div class="description">
                <span class="md-body-1"><%= __('SSO.resetpassword.description')%></span>
            </div>
            <div class="description md-collapsing" ng-show="reset_msg">
                <span class="md-body-1" >{{reset_msg}}</span>
                <span class="md-body-1" ng-if="param._success"><%= __('SSO.resetpassword.hint.front')%>{{secondsRemaining}}<%= __('SSO.resetpassword.hint.rear')%></span>
                <md-button class="md-icon-button md-primary md-hue-1" ng-if="param._success" aria-label="data control" ng-click="go('index')">
                    <md-icon md-svg-icon="navigation:ic_check_24px"></md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary md-hue-1" aria-label="data control" ng-click="clearMsg()">
                    <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
                </md-button>
            </div>

            <md-content class="md-no-momentum ">
                <form autocomplete="off" name="resetForm" novalidate>
                    <md-input-container class="md-block" >
                        <input ng-model="param.new_password" name="new_password" type="password" placeholder="<%= __('SSO.resetpassword.password')%>" required autocomplete="off" pattern="(?=.*\d)(?=.*[a-zA-Z]).{6,}">
                        <div ng-messages="resetForm.new_password.$error" class="fadding" ng-show="resetForm.new_password.$dirty">
                            <div ng-message="required"><%= __('SSO.resetpassword.password.required')%></div>
                            <div ng-message="pattern"><%= __('SSO.resetpassword.password.pattern')%></div>
                        </div>
                    </md-input-container>

                    <md-input-container class="md-block" >
                        <input ng-model="param.confirm_password" name="confirm_password" type="password" placeholder="<%= __('SSO.resetpassword.confirmpassword')%>" required autocomplete="off" pattern="(?=.*\d)(?=.*[a-zA-Z]).{6,}" compare-to="param.new_password">
                        <div ng-messages="resetForm.confirm_password.$error" class="fadding" ng-show="resetForm.confirm_password.$dirty">
                            <div ng-message="required"><%= __('SSO.resetpassword.confirmpassword.required')%></div>
                            <div ng-message="pattern"><%= __('SSO.resetpassword.confirmpassword.pattern')%></div>
                            <div ng-message="compareTo"><%= __('SSO.resetpassword.confirmpassword.compare') %></div>
                        </div>
                    </md-input-container>

                    <div layout="column">
                        <div layout="row"  layout-align="center" layout-padding  class="button-row" >
                            <md-button class="md-raised md-primary md-radius-button-2" aria-label="data control" ng-click="resetpassword($event)" ng-disabled="refreshing || param._success" type="submit"><%= __('SSO.resetpassword.confirm') %></md-button>
                        </div>
                    </div>
                </form>
            </md-content>
        </div>
    </div>
</div>

<script>
    var type = 'anonymous';
    try{
        type = JSON.parse(getCookie("_session")).login_user_type
    } catch(e){

    }
    bassdk.quick('setDefaultAttr');
    bassdk.track('visit',{
        pageName:'重置密码页',
        userType:type,
        pageType:"前端页面"
    });
</script>