

<div layout="column" layout-fill layout-align="center" class="">
    <div layout="row" layout-align="center">
        <div class="md-whiteframe-6dp user-panel"  id="userPanel">
            <md-toolbar class="md-primary" layout="column" layout-align="center" md-theme="dracular">
                <div class="md-toolbar-tools " >
                    <div flex>
                        <img src="/resource/logo_2.svg" ng-click="toPlatform()"/>
                    </div>

                    <div>
                        <h1 class="md-title">
                            <span><%= __('SSO.updatepassword.title')%></span>
                        </h1>
                    </div>
                </div>
            </md-toolbar>
            <div class="description">
                <span class="md-body-1"><%= __('SSO.updatepassword.description')%></span>
            </div>
            <div class="description md-collapsing" ng-show="update_msg">
                <span class="md-body-1" >{{update_msg}}</span>
                <md-button class="md-icon-button md-primary md-hue-1" ng-if="user._success" aria-label="data control" ng-click="go('index')">
                    <md-icon md-svg-icon="navigation:ic_check_24px"></md-icon>
                </md-button>
                <md-button class="md-icon-button md-primary md-hue-1" aria-label="data control" ng-click="clearMsg()">
                    <md-icon md-svg-icon="content:ic_clear_24px"></md-icon>
                </md-button>
            </div>

            <md-content class="md-no-momentum ">
                <form autocomplete="off" name="userForm" novalidate>

                    <md-input-container class="md-block" >
                        <!--<md-icon md-svg-icon="communication:ic_vpn_key_24px"></md-icon>-->
                        <input id="old_password" ng-model="user.old_password" name="old_password" class="password"
                               type="password" placeholder="<%= __('SSO.updatepassword.oldpassword')%>" ng-required="true" minlength="6" autocomplete="off">
                               <!--autocomplete="off" pattern="(?=.*\d)(?=.*[a-zA-Z]).{6,}">-->

                        <div ng-messages="userForm.old_password.$error" ng-show="userForm.old_password.$dirty"
                             class="fadding">
                            <div ng-message="required"><%= __('SSO.updatepassword.oldpassword.required')%></div>
                            <div ng-message="minlength"><%= __('SSO.updatepassword.oldpassword.pattern')%></div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" >
                        <!--<md-icon md-svg-icon="communication:ic_vpn_key_24px"></md-icon>-->
                        <input id="new_password" ng-model="user.new_password" name="new_password" class="password"
                               type="password" placeholder="<%= __('SSO.updatepassword.password')%>" ng-required="true" minlength="6"
                               autocomplete="off" pattern="(?=.*\d)(?=.*[a-zA-Z]).{6,}">

                        <div ng-messages="userForm.new_password.$error" ng-show="userForm.new_password.$dirty"
                             class="fadding">
                            <div ng-message="required"><%= __('SSO.updatepassword.password.required')%></div>
                            <div ng-message="pattern"><%= __('SSO.updatepassword.password.pattern')%></div>
                        </div>
                    </md-input-container>
                    <md-input-container class="md-block" >
                        <!--<md-icon md-svg-icon="action:ic_done_all_24px"></md-icon>-->
                        <input id="confirm_password" ng-model="user.confirm_password" name="confirm_password"
                               class="password" type="password" placeholder="<%= __('SSO.updatepassword.confirmpassword')%>"
                               ng-required="true" minlength="6" autocomplete="off"
                               pattern="(?=.*\d)(?=.*[a-zA-Z]).{6,}" compare-to="user.new_password">

                        <div ng-messages="userForm.confirm_password.$error" ng-show="userForm.confirm_password.$dirty"
                             class="fadding">
                            <div ng-message="required"><%= __('SSO.updatepassword.confirmpassword.required')%></div>
                            <div ng-message="pattern"><%= __('SSO.updatepassword.confirmpassword.pattern')%></div>
                            <div ng-message="compareTo"><%= __('SSO.updatepassword.confirmpassword.compare')%></div>
                        </div>
                    </md-input-container>

                    <div layout="column">
                        <div layout="row"  layout-align="center" layout-padding  class="button-row" >
                            <md-button class="linear md-primary md-radius-button-2" aria-label="data control" ng-click="go('update')" ><%= __('SSO.updatepassword.return')%></md-button>
                            <md-button class="md-raised md-primary md-radius-button-2" aria-label="data control" ng-click="update($event)" type="submit"><%= __('SSO.updatepassword.confirm')%></md-button>
                        </div>
                    </div>
                </form>
            </md-content>
        </div>
    </div>
</div>

<script>
    var type = 'anonymous';
    try{
        type = JSON.parse(getCookie("_session")).login_user_type
    } catch(e){

    }
    bassdk.quick('setDefaultAttr');
    bassdk.track('visit',{
        pageName:'更新密码页',
        userType:type,
        pageType:"前端页面"
    });
</script>