<footer class="ssv-footer">
    <div layout="row" flex-offset-gt-lg="10" flex-gt-lg="80" flex-offset-lg="5" flex-lg="90" flex-offset="0" flex="100" >
        <div>
            <p class="text-muted"><%= __('Supplier.footer.powerby')%> <a href="javascript:"><%= __('ROP')%></a> <%= __('Copyright')%></p>
        </div>
        <div flex layout="row" layout-align="end">
            <ul class="quick-visit pull-right">
                <li><a class="text-muted" href="javascript:" ng-click="go('API')"><%= __('Supplier.api')%></a></li>
                <li><a class="text-muted" href="javascript:" ng-click="go('info')"><%= __('Supplier.info')%></a></li>
                <li><a class="text-muted" href="javascript:" ng-click="go('all-comment')"><%= __('Supplier.allcomment')%></a></li>
            </ul>
        </div>
        <div flex="10" layout="row" layout-align="end">
            <img src="/resource/logo_4.svg">
        </div>
    </div>
</footer>