<!--
<ul class="pagination pagination-sm">
    <li><a href="javascript:" aria-label="First" ng-click="toFirst()"><span aria-hidden="true">«</span></a></li>
    <li><a href="javascript:" aria-label="Previous" ng-click="searchPrevious()"><span aria-hidden="true">‹</span></a></li>
    <li ng-repeat="page in pages" ng-class="{'active': page.index == index}" ng-show="(page.index<=ceilingIndex) && (page.index>=(ceilingIndex - 4))">
        <a href="javascript:" ng-click="searchIndex(page.index)">{{page.index}}</a>
    </li>
    <li><a href="javascript:" aria-label="Next" ng-click="searchNext()"><span aria-hidden="true">›</span></a></li>
    <li><a href="javascript:" aria-label="Last" ng-click="toLast()"><span aria-hidden="true">»</span></a></li>
</ul>

<span><%= __('Pagination.totalpages.front')%> {{pages.length}} <%= __('Pagination.totalpages.rear')%></span>

<span><%= __('Pagination.goto.front')%></span>
<span class="control">
                        <input class="form-control input-sm" ng-model="myIndex"/>
                    </span>
<span><%= __('Pagination.goto.rear')%></span>
<span><button class="btn btn-default btn-sm" ng-click="toPage(myIndex)"><span class="fa fa-fw fa-search"></span>
</button></span>-->

<div class="with-total" ng-if="!infinite" >
    <svg viewBox="0 0 64 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"  ng-click="toFirst()">
        <!--<path stroke-location="inside" transform="translate(0,1)" d="M64.9328571,0 L11.99,0 L11.2114286,0 L11.2114286,0.0785714286 C10.6664286,0.235714286 10.1214286,0.55 9.73214286,1.02142857 C9.65428571,1.1 9.42071429,1.41428571 0.622857143,14.6928571 L0.545,14.7714286 C0.545,14.85 0.467142857,14.85 0.467142857,14.9285714 C0.155714286,15.4 0,15.95 0,16.5 C0,17.05 0.155714286,17.6 0.389285714,18.0714286 L0.467142857,18.15 C0.467142857,18.15 0.467142857,18.2285714 0.545,18.2285714 L0.545,18.2285714 C1.40142857,19.5642857 9.265,31.5071429 9.65428571,31.9785714 C10.1992857,32.6071429 11.0557143,33 11.9121429,33 L64.855,33 C66.1785714,33 67.1907143,31.9785714 67.1907143,30.6428571 L67.1907143,2.35714286 C67.2685714,1.1 66.2564286,0 64.9328571,0 L64.9328571,0 L64.9328571,0 Z"></path>-->
        <path d="M61.8454903,0 L11.4199107,0 L10.678358,0 L10.678358,0.0761904762 C10.1592712,0.228571429 9.64018434,0.533333333 9.26940802,0.99047619 C9.19525275,1.06666667 8.97278696,1.37142857 0.593242113,14.247619 L0.519086849,14.3238095 C0.519086849,14.4 0.444931585,14.4 0.444931585,14.4761905 C0.148310528,14.9333333 0,15.4666667 0,16 C0,16.5333333 0.148310528,17.0666667 0.370776321,17.5238095 L0.444931585,17.6 C0.444931585,17.6 0.444931585,17.6761905 0.519086849,17.6761905 L0.519086849,17.6761905 C1.33479475,18.9714286 8.82447643,30.552381 9.19525275,31.0095238 C9.7143396,31.6190476 10.5300475,32 11.3457554,32 L61.771335,32 C63.0319745,32 63.995993,31.0095238 63.995993,29.7142857 L63.995993,2.28571429 C64.0701482,1.06666667 63.1061298,0 61.8454903,0 L61.8454903,0 L61.8454903,0 Z"></path>
        <text x="40%" y="50%" dy="0.35em">首页</text>
    </svg>

    <div class="button-group">
        <md-button class="md-icon-button" aria-label="data control" ng-click="searchPrevious()">
            <md-icon class="" md-svg-icon="navigation:ic_chevron_left_24px"></md-icon>
        </md-button>
        <md-button ng-repeat="page in pages" ng-class="{'active': page.index == index}" ng-if="(page.index<=ceilingIndex) && (page.index>=(ceilingIndex - 4))" class="md-icon-button" aria-label="data control" ng-click="searchIndex(page.index)">{{page.index}}</md-button>
        <md-button class="md-icon-button" aria-label="data control" ng-click="searchNext()">
            <md-icon class="" md-svg-icon="navigation:ic_chevron_right_24px"></md-icon>
        </md-button>
    </div>

    <svg viewBox="0 0 64 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-click="toLast()">
        <!--<path stroke-location="inside" transform="translate(68,1) scale(-1, 1)" d="M11.99,0 L11.2114286,0 C10.6664286,0.242857143 10.1214286,0.566666667 9.73214286,1.05238095 C9.65428571,1.13333333 9.42071429,1.45714286 0.622857143,15.1380952 C0.545,15.3 0.467142857,15.3 0.467142857,15.3809524 C0.155714286,15.8666667 0,16.4333333 0,17 C0,17.5666667 0.155714286,18.1333333 0.389285714,18.6190476 C0.467142857,18.7 0.467142857,18.7809524 0.545,18.7809524 C1.40142857,20.1571429 9.265,32.4619048 9.65428571,32.947619 C10.1992857,33.5952381 11.0557143,34 11.9121429,34 L64.855,34 C66.1785714,34 67.1907143,32.947619 67.1907143,31.5714286 L67.1907143,2.42857143 C67.2685714,1.13333333 66.2564286,0 64.9328571,0 L11.99,0 Z"></path>-->
        <path transform="translate(64,0) scale(-1, 1)" d="M61.8454903,0 L11.4199107,0 L10.678358,0 L10.678358,0.0761904762 C10.1592712,0.228571429 9.64018434,0.533333333 9.26940802,0.99047619 C9.19525275,1.06666667 8.97278696,1.37142857 0.593242113,14.247619 L0.519086849,14.3238095 C0.519086849,14.4 0.444931585,14.4 0.444931585,14.4761905 C0.148310528,14.9333333 0,15.4666667 0,16 C0,16.5333333 0.148310528,17.0666667 0.370776321,17.5238095 L0.444931585,17.6 C0.444931585,17.6 0.444931585,17.6761905 0.519086849,17.6761905 L0.519086849,17.6761905 C1.33479475,18.9714286 8.82447643,30.552381 9.19525275,31.0095238 C9.7143396,31.6190476 10.5300475,32 11.3457554,32 L61.771335,32 C63.0319745,32 63.995993,31.0095238 63.995993,29.7142857 L63.995993,2.28571429 C64.0701482,1.06666667 63.1061298,0 61.8454903,0 L61.8454903,0 L61.8454903,0 Z"></path>
        <text x="25%" y="50%" dy="0.35em">末页</text>
    </svg>

    <form ng-submit="toPage(myIndex)">
        <span class=""><%= __('Pagination.totalpages.front')%> {{pages.length}} <%= __('Pagination.totalpages.rear')%></span>
        <span><%= __('Pagination.goto.front')%></span>
        <input class="" ng-model="ctrl.myIndex"/>
        <span class="page-rear"><%= __('Pagination.goto.rear')%></span>
        <md-button class="md-icon-button" aria-label="data control" ng-click="toPage(ctrl.myIndex)">
            <md-icon class="" md-svg-icon="action:ic_search_24px"></md-icon>
        </md-button>
    </form>
</div>
<div class="no-total" ng-if="infinite">
    <svg viewBox="0 0 64 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-click="searchPrevious()" ng-class="{'disabled':infiniteStart()}">
        <!--<path stroke-location="inside" transform="translate(0,1)" d="M64.9328571,0 L11.99,0 L11.2114286,0 L11.2114286,0.0785714286 C10.6664286,0.235714286 10.1214286,0.55 9.73214286,1.02142857 C9.65428571,1.1 9.42071429,1.41428571 0.622857143,14.6928571 L0.545,14.7714286 C0.545,14.85 0.467142857,14.85 0.467142857,14.9285714 C0.155714286,15.4 0,15.95 0,16.5 C0,17.05 0.155714286,17.6 0.389285714,18.0714286 L0.467142857,18.15 C0.467142857,18.15 0.467142857,18.2285714 0.545,18.2285714 L0.545,18.2285714 C1.40142857,19.5642857 9.265,31.5071429 9.65428571,31.9785714 C10.1992857,32.6071429 11.0557143,33 11.9121429,33 L64.855,33 C66.1785714,33 67.1907143,31.9785714 67.1907143,30.6428571 L67.1907143,2.35714286 C67.2685714,1.1 66.2564286,0 64.9328571,0 L64.9328571,0 L64.9328571,0 Z"></path>-->
        <path d="M61.8454903,0 L11.4199107,0 L10.678358,0 L10.678358,0.0761904762 C10.1592712,0.228571429 9.64018434,0.533333333 9.26940802,0.99047619 C9.19525275,1.06666667 8.97278696,1.37142857 0.593242113,14.247619 L0.519086849,14.3238095 C0.519086849,14.4 0.444931585,14.4 0.444931585,14.4761905 C0.148310528,14.9333333 0,15.4666667 0,16 C0,16.5333333 0.148310528,17.0666667 0.370776321,17.5238095 L0.444931585,17.6 C0.444931585,17.6 0.444931585,17.6761905 0.519086849,17.6761905 L0.519086849,17.6761905 C1.33479475,18.9714286 8.82447643,30.552381 9.19525275,31.0095238 C9.7143396,31.6190476 10.5300475,32 11.3457554,32 L61.771335,32 C63.0319745,32 63.995993,31.0095238 63.995993,29.7142857 L63.995993,2.28571429 C64.0701482,1.06666667 63.1061298,0 61.8454903,0 L61.8454903,0 L61.8454903,0 Z"></path>
        <text x="26%" y="50%" dy="0.35em">上一页</text>
    </svg>
    <span class="">第 {{index}} 页</span>
    <svg viewBox="0 0 64 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" ng-click="searchNext()" ng-class="{'disabled':infiniteEnd(index)}">
        <!--<path stroke-location="inside" transform="translate(68,1) scale(-1, 1)" d="M11.99,0 L11.2114286,0 C10.6664286,0.242857143 10.1214286,0.566666667 9.73214286,1.05238095 C9.65428571,1.13333333 9.42071429,1.45714286 0.622857143,15.1380952 C0.545,15.3 0.467142857,15.3 0.467142857,15.3809524 C0.155714286,15.8666667 0,16.4333333 0,17 C0,17.5666667 0.155714286,18.1333333 0.389285714,18.6190476 C0.467142857,18.7 0.467142857,18.7809524 0.545,18.7809524 C1.40142857,20.1571429 9.265,32.4619048 9.65428571,32.947619 C10.1992857,33.5952381 11.0557143,34 11.9121429,34 L64.855,34 C66.1785714,34 67.1907143,32.947619 67.1907143,31.5714286 L67.1907143,2.42857143 C67.2685714,1.13333333 66.2564286,0 64.9328571,0 L11.99,0 Z"></path>-->
        <path transform="translate(64,0) scale(-1, 1)" d="M61.8454903,0 L11.4199107,0 L10.678358,0 L10.678358,0.0761904762 C10.1592712,0.228571429 9.64018434,0.533333333 9.26940802,0.99047619 C9.19525275,1.06666667 8.97278696,1.37142857 0.593242113,14.247619 L0.519086849,14.3238095 C0.519086849,14.4 0.444931585,14.4 0.444931585,14.4761905 C0.148310528,14.9333333 0,15.4666667 0,16 C0,16.5333333 0.148310528,17.0666667 0.370776321,17.5238095 L0.444931585,17.6 C0.444931585,17.6 0.444931585,17.6761905 0.519086849,17.6761905 L0.519086849,17.6761905 C1.33479475,18.9714286 8.82447643,30.552381 9.19525275,31.0095238 C9.7143396,31.6190476 10.5300475,32 11.3457554,32 L61.771335,32 C63.0319745,32 63.995993,31.0095238 63.995993,29.7142857 L63.995993,2.28571429 C64.0701482,1.06666667 63.1061298,0 61.8454903,0 L61.8454903,0 L61.8454903,0 Z"></path>
        <text x="16%" y="50%" dy="0.35em">下一页</text>
    </svg>
</div>